.navbar-container {
    width: 16%;
    height: 100%;
    position: fixed;
    background-color: #E5B199;
}

.content-container {
    height: 100%;
    margin-left: 16%;
}

.nav-active-bg-color {
    background-color: #7C5A50;
}

.nav-inactive-bg-color {
    background-color: #E5B199;
}

.nav-active:hover {
    background-color: #584039;
}

.nav-inactive:hover {
    background-color: #f8cdb8;
}

.navigation {
    height: 28px;
    width: 28px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.top-bar {
    z-index: 1;
}