.login-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: rgb(124,90,80);
    background: linear-gradient(90deg, rgba(124,90,80,1) 0%, rgba(229,177,153,1) 35%, rgba(248,205,184,1) 100%);
}

.login-btn {
    background-color: #7C5A50;
    color: white;
    font-weight: bold;
}

.logout-btn {
    cursor: pointer;
    text-decoration: none;
}