.table-header {
    background-color: #E4D0C5;
}

.lunas-style {
    background-color: #BFF6B5;
    color: green;
    width: 100px;
}

.belum-lunas-style {
    background-color: #FFE5E4;
    color: red;
    width: 100px;
}